#about-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.about-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	line-height: 65px;
	color: #F7C242;
	font-weight: 300;
}

.about-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 28px;
	color: #333333;
	font-weight: 300;
}

.about-content2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	line-height: 28px;
	color: #333333;
	font-weight: 300;
}

.about-content3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	line-height: 0px;
	color: #333333;
	font-weight: 300;
	text-align: right;
	margin-top: -30px;
}

.about-quotes {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;	
	text-decoration: inherit; 
	text-align: justify;
	color: #333333;

	float: right;
	margin-top: 10px;
	margin-right: -50px;

	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;

	white-space: normal; 
	border-style: solid none; 
	border-color: #333333;
	border-top-width: 1px; 
	border-bottom-width: 1px; 
	display: block; 
}

#faq {
	background-color: #F7C242;
	padding-top: 5px;
	padding-bottom: 40px;
}

#faq-onethird {
	margin-top: 40px;
	margin-left: 18%;
	width: 40%;
	text-align: left;
}

.faq-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #333333;
}

.faq-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 28px;
	color: #333333;
	font-weight: 300;
}