.about-section1 {
	height: 95vh;
	margin: 0;
	width: 100%;
		.row {
			margin: 0;
			position: relative;
 			top: 53%;
 			transform: translateY(-47%);
		}
		.col-md-4 {
			margin: 0;
			padding: 0;
			text-align: center;
			margin-top: 1.5%;
		}

		.col-md-7 {
			margin: 0;
			padding: 0;
			.container {
				margin: auto;
				width: 75%; 
			}
		}
}

.about-section2 {
	height: 95vh;
	margin: 0;
	width: 100%;
		.row {
			margin: 0;
			position: relative;
 			top: 53%;
 			transform: translateY(-47%);
		}
		.col-md-6 {
			#image {
				text-align: center;
			}
			margin: 0;
			margin: auto;
			padding: 0;
		 	text-align: left;
		 	.container {
				margin: auto;
			}
		}
}

.about-section3 {
	height: 95vh;
	margin: 0;
	width: 100%;
		.row {
			margin: 0;
			position: relative;
 			top: 53%;
 			transform: translateY(-47%);
		}
		.col-md-5 {
			margin: 0;
			padding: 0;
			text-align: left;
			margin-left: 0;
			.container {
				margin: auto;
				width: 100%;
			}
		}
		.col-md-4 {
			margin: auto;
			padding: auto;
			margin-top: 1%;
			text-align: center;
		}
}

.owl-carousel{
		vertical-align: middle;
}