.about-section {
	margin: 0;
	width: 100%;

	.container {
		margin: auto;
		width: 75%; 
		margin-top: 5%;

		.col-md-4 {
			margin: 0;
			padding: 0;

			text-align: center;

		}


		.col-md-8 {
			margin: 0;

			padding: 0;
			float: right;

			.container {
				margin-top: 0;
			}

			

		}
	}

	#about-twothird {
		.row {
			margin-top: 3em;

			.container {
				padding: 0;
				width: 100%;
				
			}

			.col-md-6 {
				float: left;

			}

			.image-6 {
			 	float: right;
			 	text-align: center;

			}
		
		}
	}


}