.intro{
	width: 100%;
	margin: auto;
	padding: 0;
	.container {
		background-color: white;
		text-align: center;
	}
}

.homepage-main{
	background-color: #EFEEEE;
	margin: auto;

	.container{
		margin: auto;
		text-align: center;
	}

}	
