.singleApi-row {
<<<<<<< HEAD
    border-bottom: 0.1px dotted #FFFFFF;
    width: 70%;
    margin-left: 15%;

	.container {
		padding-top: 5%;
		padding-bottom: 5%;
		text-align: left;
		color: white;

		h3 {
			font-weight: 500;
=======
	margin: auto;
	width: 100%;

	.container {
		padding-top: 3%;
		padding-bottom: 3%;
		text-align: left;
		margin: auto;
		color: white;

		h3 {
>>>>>>> origin/19_main_about_page
			a:hover {
				color: #ffcd0a;
			}
			a {
				color: white;
			}
		}

		.desc {
			margin-top: 2em;
			color: white;
		}

		ul {
			margin-left: 0;
			padding-left: 0;
			text-align: left;
			vertical-align: bottom;
			line-height: 3em;
<<<<<<< HEAD
			a:hover {
				color: #ffcd0a;
=======

			a {
				padding: 5px;
				border: 1px solid white;
				text-align: center;
			}

			a:hover {
				color: #ffcd0a;
				border-color: #ffcd0a;
>>>>>>> origin/19_main_about_page
			}
			a {
				color: white;
			}
		}
	}

	.owl-carousel{
		float: right;
		vertical-align: middle;
		line-height: 5em;
		text-align: center;
	}
}