.footer{
	background-color: white;
	text-align: center;
	font-family: 'Lato', sans-serif;
  	font-weight: 300;
	color: black;
  	font-size: 11px;
  	letter-spacing: 2px;

  	.hr {
  		width: 15%;
  		margin-left: 42.5%;
  		border: 5;
  	}

	.container {
		padding-top: 0.4%;
		padding-bottom: 0.4%;
	}
}